# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
develop-eggs/
dist/
*.egg-info/
eggs/
.eggs/


# files
Model_CP/sam_hq_vit_tiny.pth
Model_CP/save_agg_rec_512.pth
Model_CP/SiamMask_DAVIS.pth
